.music {
  margin-bottom: mb(400);

  &-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    row-gap: mb(400);

    @include respondW(max, 1100) {
      grid-template-columns: 1fr;
    }
  }

  .section-title {
    @include respondW(max, 1100) {
      align-items: center;
    }
  }
}
