/****************************************
     TYPOGRAPHY
****************************************/
$fonts: (
  'main': Poppins,
  'heading': Comfortaa,
);

$font-weights: (
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
);

/****************************************
     COLOURS
****************************************/
//BUG change colors
$colors: (
  000: white,
  100: #f2f2f2,
  200: #8c6450,
  400: #66493a,
  600: #402d24,
);

$gradients: (
  400: linear-gradient(0.4turn, color(200), color(600) 35% 45%, color(200)),
  500: linear-gradient(0.4turn, color(600), color(400)),
  'spotify': linear-gradient(to right, hsl(141, 84%, 40%), hsl(141, 85%, 35%)),
  'apple': linear-gradient(to right, hsl(351, 95%, 70%), hsl(353, 96%, 55%)),
  'amazon': linear-gradient(to right, hsl(256, 100%, 50%), hsl(248, 55%, 30%)),
  'deezer': linear-gradient(to right, hsl(0, 0%, 25%), hsl(0, 0%, 15%)),
);

/****************************************
     WHITESPACE
****************************************/
$marbo: (
  200: 12rem,
  300: 20rem,
  400: 30rem,
);

/****************************************
     TRANSITIONS
****************************************/
$transitions: (
  400: all 300ms ease-in-out,
  450: all 500ms ease-in-out,
  500: all 600ms ease-in-out,
);

/****************************************
     MEDIA QUERIES
****************************************/
$queries: (
  'phone': 37.5em /*600px*/,
  'tab-p': 56.25em /*900px*/,
  'tab-l': 75em /*1200px*/,
  'laptop': 85em /*1360px*/,
  'desktop': 112.5em /*1800px*/,

  //Other Breakpoints
  1300: 81.25em,
  500: 31.25em,
  400: 25em,

  //Height Breakpoints
  850: 53.125em,
  900: 56.25em,
  600: 37.5em,
);

// EMs are used for media queries
// 1em = 16px
// We calculate: (breakpoint) / 16

/****************************************
     CLIP PATHS
****************************************/
$map-clip: polygon(
  0% 5%,
  12.5% 0%,
  25% 5%,
  37.5% 0%,
  50% 5%,
  62.5% 0%,
  75% 5%,
  87.5% 0%,
  100% 5%,
  100% 100%,
  87.5% 95%,
  75% 100%,
  62.5% 95%,
  50% 100%,
  37.5% 95%,
  25% 100%,
  12.5% 95%,
  0% 100%
);

$map-clip-reset: polygon(
  0% 0%,
  12.5% 0%,
  25% 0%,
  37.5% 0%,
  50% 0%,
  62.5% 0%,
  75% 0%,
  87.5% 0%,
  100% 0%,
  100% 100%,
  87.5% 100%,
  75% 100%,
  62.5% 100%,
  50% 100%,
  37.5% 100%,
  25% 100%,
  12.5% 100%,
  0% 100%
);

/****************************************
     RESPONSIVE SIZES
****************************************/
$phone-btns-width: 4rem;
$phone-btns-radius: 0.5rem;
