/****************************************
     TYPOGRAPHY
****************************************/
$fonts: (
  'main': Poppins,
  'heading': Comfortaa,
);

$font-weights: (
  'thin': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
);

/****************************************
     COLOURS
****************************************/
//BUG change colors
$colors: (
  000: white,
  50: darken(white, 1%),
  100: #f2f2f2,
  200: #8c6450,
  400: #66493a,
  600: #402d24,
);

$gradients: (
  400: linear-gradient(0.4turn, color(200), color(600) 35% 45%, color(200)),
  500: linear-gradient(0.4turn, color(600), color(400)),
  'spotify': linear-gradient(to right, hsl(141, 84%, 40%), hsl(141, 85%, 35%)),
  'apple': linear-gradient(to right, hsl(351, 95%, 70%), hsl(353, 96%, 55%)),
  'amazon': linear-gradient(to right, hsl(256, 100%, 50%), hsl(248, 55%, 30%)),
  'deezer': linear-gradient(to right, hsl(0, 0%, 25%), hsl(0, 0%, 15%)),
);

/****************************************
     WHITESPACE
****************************************/
$margin-bottom: (
  200: 12rem,
  300: 20rem,
  400: 30rem,
);

/****************************************
     TRANSITIONS
****************************************/
$transitions: (
  300: all 200ms ease-in-out,
  400: all 300ms ease-in-out,
  500: all 500ms ease-in-out,
  600: all 600ms ease-in-out,
  opacity: opacity 300ms ease-in-out,
);

/****************************************
     MEDIA QUERIES
****************************************/
$queries: (
  'phone': 37.5em /*600px*/,
  'tab-p': 56.25em /*900px*/,
  'tab-l': 75em /*1200px*/,
  'laptop': 85em /*1360px*/,
  'desktop': 112.5em /*1800px*/,

  //Other Breakpoints
  1300: 81.25em,
  1100: 68.75em,
  1000: 62.5em,
  950: 59.375em,
  920: 57.5em,
  800: 50em,
  850: 53.125em,
  750: 46.875em,
  700: 43.75em,
  650: 40.625em,
  500: 31.25em,
  550: 34.375em,
  480: 30em,
  430: 26.875em,
  400: 25em,
  300: 18.75em,
  280: 17.5em,
);

// EMs are used for media queries
// 1em = 16px
// We calculate: (breakpoint) / 16

/****************************************
     RESPONSIVE SIZES
****************************************/
$phone-btns-width: 4rem;
$phone-btns-radius: 0.5rem;
