@import '../../../helpers.scss';

.player {
  aspect-ratio: 1;
  border-radius: 7%;
  @include flex-center;
  background-size: contain;
  position: relative;

  &__progress {
    transition: width 200ms linear;
    width: 100%;
    height: 12%;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    @include flex(flex-start, flex-end);
    direction: ltr;

    span {
      width: 0%;
      height: 32%;
      background-color: color(font);
    }
  }

  &__btn {
    aspect-ratio: 1;
    width: 60%;
    background-color: rgba(white, 0.2);
    border-radius: 50%;
    transition: scale 200ms ease-out;
    backdrop-filter: blur(4px);
    @include flex-center;
    border: solid 0.5rem white;

    &:hover {
      scale: 1.2;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transition: none;
      scale: 0.8;
    }

    svg {
      translate: 5%;
      fill: rgba(white, 0.8) !important;
      stroke-opacity: 0;
    }
  }

  &.playing {
    .player__btn {
      background: none;
      border: none;
      opacity: 0.4;
      backdrop-filter: none;

      svg {
        translate: 0;
        // fill: white !important;
      }
    }
  }
}

.audio {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  height: 15rem;
  padding: 4rem 0;
  direction: ltr;

  .container {
    @include flex(flex-end);
  }

  &__player {
    width: 50%;
    max-width: 30rem;
    height: 100%;
    background-color: rgba(color(font), 0.2);
    backdrop-filter: blur(9px);
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 100%;
    align-items: center;
    padding: 1rem 1.5rem;
    border: solid 3px color(font);
    gap: 0.7rem;

    button {
      height: 100%;
      aspect-ratio: 1;
    }
  }

  &__seeker {
    width: 100%;
    height: 100%;
    @include flex-center;
    cursor: pointer;

    span {
      width: 100%;
      height: 0.5rem;
      background-color: rgba(color(bkg), 0.5);
      border-radius: 100vw;
      @include flex(flex-start);

      span {
        width: 20%;
        background-color: color(font);
        height: 100%;
      }
    }
  }
}
